<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Product</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body style="background-color: #f4e8ff">
    <div class="container mt-5">
      <h1>Edit Product</h1>
      <form
        method="post"
        action="{{ url_for('edit_product', product_id=product.id) }}"
        enctype="multipart/form-data"
      >
        <label for="name">Product Name:</label>
        <input type="text" name="name" value="{{ product.name }}" required />
        <br />
        <label for="price">Product Price:</label>
        <input
          type="number"
          step="0.01"
          name="price"
          value="{{ product.price }}"
          required
        />
        <br />
        <label for="image">Product Image:</label>
        <input type="file" name="image" accept="image/*" />
        <br />
        <input type="submit" value="Update Product" />
      </form>
      <a href="{{ url_for('index') }}">Back to Product List</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
  </body>
</html>
